#Any line started with a '#' or '//' is ignored.
#If it is desired, multiple files for configurations can be used.
#Also, inside the configs folder it's possible to have multiple sub-folders, with each folder representing a different server configuration.



#profiling
withCPUProfile = false
withMemProfile = false
cpuProfileFile = ../../profiles/8087/cpu.prof
memProfileFile = ../../profiles/8087/mem.prof
memDebug = false

#protoServer.go

protoPort = 8087

#replicator
doJoin = false

#remoteConnection.go
#rabbitMQUser = test
rabbitMQUser = guest
#Note: all VHosts must start with a "/". This configuration is optional
rabbitVHost = /

#remoteGroup.go

#Use '*' to catch all buckets. Separate different buckets with a whitespace.
#buckets = R1 PART INDEX I1 
buckets = *

#ip:port
localRabbitMQAddress = localhost:5672
localPotionDBAddress = localhost:8087

#ip1:port1 ip2:port2 ip3:port ...
remoteRabbitMQAddresses = localhost:5673 localhost:5674 localhost:5675 localhost:5676
#remoteRabbitMQAddresses =

#materializer.go
nPartitions = 8
readQueueSize = 100
requestChannelSize = 100
newDownstreamSize = 100

#tpch dataload
doDataload = false
doIndexload = false
dataLoc = /go/data/
scale = 0.1
region = 0
isGlobal = true
queryNumbers = 3 5 11 14 15 18
