#Any line started with a '#' or '//' is ignored.
#If it is desired, multiple files for configurations can be used.
#Also, inside the configs folder it's possible to have multiple sub-folders, with each folder representing a different server configuration.



#profiling
withCPUProfile = false
withMemProfile = false
cpuProfileFile = ../../profiles/8087/cpu.prof
memProfileFile = ../../profiles/8087/mem.prof
memDebug = false

#protoServer.go

protoPort = 8087

#replicator
doJoin = false

#remoteConnection.go
#rabbitMQUser = test
rabbitMQUser = guest

#remoteGroup.go

#Use '*' to catch all buckets. Separate different buckets with a whitespace.
buckets = *

#ip:port
localRabbitMQAddress = localhost:5672
localPotionDBAddress = potiondb2:8087

#ip1:port1 ip2:port2 ip3:port ...
remoteRabbitMQAddresses = potiondb1:5672 potiondb3:5672 potiondb4:5672 potiondb5:5672
#remoteRabbitMQAddresses =

#materializer.go
nPartitions = 16
readQueueSize = 100
requestChannelSize = 100
newDownstreamSize = 100

#tpch dataload
doDataload = false
doIndexload = false
dataLoc = /go/data/
scale = 0.1
region = 1
isGlobal = true
queryNumbers = 3 5 11 14 15 18

#TC (latency control)
useTC = false
tcIPs = 172.19.0.2 172.19.0.3 172.19.0.4 172.19.0.5 172.19.0.6
tcMyPos = 1
tcLatency = 41.43 0 9.58 74.47 101.34
